/ignore/
*.o
a.out
__pycache__/

exe/comfl
exe/daety
exe/makeshift
exe/moins
exe/trem
exe/uh
exe/watsh

src/comfl/comfl
src/daety/daety
src/watsh/watsh
src/comfl/usage.inc
src/daety/usage.inc
src/watsh/usage.inc

idk/instit-avion/cmudict-0.7b
